<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Statistik Jenis Kelamin</h5>
        <canvas id="jenisKelaminChart"></canvas>
    </div>
</div>


<script>
    
</script>